<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {{> header }} <!-- Include the header partial -->
</head>
<body>
    {{{body}}} <!-- This is where the page content will be inserted -->
    {{> footer }} <!-- Optionally include a footer partial if you have one -->
</body>
</html>
