<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://e7.pngegg.com/pngimages/315/183/png-clipart-rice-paddy-field-icon-golden-rice-golden-frame-food-thumbnail.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Login</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 40vh;
            border-radius: 15px; /* Bo tròn viền cho form */
            border: 2px dashed #000000; /* Đặt đường viền cho form */
            padding: 20px; /* Thêm khoảng cách giữa nội dung và viền form */
            max-width: 400px;
            margin: auto;
        }
         h1{
            text-align: center;
        }
         .register-link {
            text-align: center;
            margin-top: 20px;
       }

        input, button {
            margin: 5px;
            border-radius: 10px; /* Bo tròn viền cho ô nhập và nút */
            font-size: 20px; /* Chữ to lên */
            padding: 10px; /* Thêm khoảng cách giữa nội dung và viền */
            border: 2px dashed black;
            background-color: transparent;
        }

        .error-message {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm" action="/users/login" method="POST">
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <button class="button_login" type="submit">
            <span>Login</span>
            </button>
        <p class="error-message" id="loginError"></p>
    </form>
     <div class="register-link">
        <a href="/users/register">Đăng ký ngay</a>
    </div>

<a href="/">
    <button class="animated-button">
  <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
    ></path>
  </svg>
  <span class="text">Trang Chủ</span>
  <span class="circle"></span>
  <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
    ></path>
  </svg>
</button>
</a>
<style>
    .animated-button {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: rgb(255, 0, 0);
  box-shadow: 0 0 0 2px rgb(255, 0, 0);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  margin-top:-500px;
  margin-left:1280px;
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: rgb(255, 0, 0);
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgb(255, 47, 47);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

</style>
</body>
</html>
