<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
       h1 {
            text-align: center;
       }
       .login-button {
            position: absolute;
            top: 20px;
            right: 20px;
       }
       .user-info {
            position: absolute;
            top: 20px;
            right: 100px; /* Điều chỉnh khoảng cách giữa thông tin người dùng và nút */
       }
       .logout-button {
            position: absolute;
            top: 70px; /* Điều chỉnh vị trí xuống dưới so với thông tin người dùng */
            right: 100px;
       }
    </style>
</head>
<body>
    <h1>Trang Home</h1>
    {{#if user}}
        <div class="user-info">
            <p>Xin chào {{ user.name }} ({{ user.email }})</p>
        </div>
        <div class="logout-button">
            <a href="/users/logout">Đăng xuất</a>
        </div>
    {{else}}
        <div class="login-button">
            <a href="/users/login">Đăng nhập</a>
        </div>
    {{/if}}
</body>
</html>
