<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/footer.css">

    <title>Document</title>
</head>
<body>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
        }
        .image_content{
            width: 1515px;    
            height: 625px;
        }
        .menu_content span{
            font-size:24px;
            padding-left: 40px;
            font-weight: bold;
            max-width: 3000px;
            color:white;
            cursor: pointer;
        }
        .menu_content{
            margin-left:250px;
            margin-top:-55px;
        }
        .menu_content a{
            text-decoration: none;
            color:white;
         }
        #about_content{
            font-size:40px;
            font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 0, 0);
    margin-bottom: 500px;
}
    </style>
    <div class="menu_content" style="position:absolute;">
        <span>
            <a href="#about_content">
                About
            </a>
            </span>
        <span>Contact</span>
        <span>Đối Tác</span>
        <span>ádá</span>
    </div>
    <img class="image_content" src="https://media.istockphoto.com/id/1151784210/photo/ripe-rice-field-and-sky-background-at-sunset.jpg?s=612x612&w=0&k=20&c=DZz4wxIbPXnMhmoTsEV06uYKup9MEZTtRFe2XkDb0mY="/>
    <span id="about_content">About</span>


</body>

</html>